<!DOCTYPE html>
<head>
    <title>Sign-up form</title>
    <link href="..\statics\signup.css" rel="stylesheet">
    <script src="..\statics\authentication.js"></script>
</head>
<body>
    <div class="menu">
        <ul>
            <img style="width:110px; height:80px;" src="..\images\logo.png">
            <li><a href="Home.html">Home</a></li>
            <li><a href="piano.html">Music</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="About.html">About</a></li>
        </ul>
        <ul>
            <li>
                <img title="IT homies" style="height: 30px; width: 30px; border-radius: 30px; padding-top: 5px ;" alt="IT Homies" src="https://th.bing.com/th/id/OIP.XA6EcH_6e2nRp0fXgBBk0gHaHS?pid=ImgDet&w=207&h=203&c=7&dpr=1.3"></a>
                <li><a class="sign" href="signup.html">Create account</a></li>
                <li><a class="sign" href="login.html">Log in</a></li>
            </li>
        </ul>
    </div>

    <div id="signup-form-container">
        <form method="post" onsubmit="return validateForm();" action="..\models\signup.php">

            <h1 id="sign-up-title">Sign Up</h1>
            <div class="input-field">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <span id="name_error"></span><br>
            </div>

            <div class="input-field">
            <label for="mail">Email:</label><br>
            <input type="email" id="mail" name="mail"><br>
            <span id="mail_error"></span><br>
            </div>

            <div class="input-field">
            <label for="number">Mobile number :</label><br>
            <input type="number" id="number" name="number"><br>
            <span id="number_error"></span><br>
            </div>

            <div class="input-field">
            <label for="password">Password:</label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <span id="pwd_error"></span><br>
            </div>

            <div class="input-field">
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" id="cpwd" name="cpwd"><br>
            <span id="cpwd_error"></span><br>
            </div>

            <input type="submit" value="Sign Up" id="sign-up-button">
            <p style="font-size: 13px;">Already have an account :<a href="login.html">Log-in</a></p>
        </form>
    </div>
    <div class="copyright">
        <p>Copyright 1999-2023 by Musicca Data. All Rights Reserved.<br>Pianist is Powered by IT Homies.</p>
        <img style="width:40px; height:20px;" src="..\images\logo.png">
    </div>
</body>
</html>